@{
    ViewData["Title"] = "Index";
}

@model IEnumerable<ProductViewModel>
<h1>Ürünler</h1>

@if (TempData["status"] != null) {
    <div class="alert alert-primary" role="alert">
        @TempData["status"].ToString()
    </div>
}


<a asp-controller="Product" asp-action="Add">Ürün ekle</a>
<table class=table align="center">
    <thead align="center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>

            <th>
                Should it be published?
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Expire) Month
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                İşlem
            </th>
        </tr>
    </thead>
    <tbody align="center">
        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Color</td>
                <td>
                    @(@item.IsPublish ? "Yes" : "No")
                </td>
                <td>@item.Expire</td>
                <td>
                    @if (item.Description.Length > 20) {
                        @item.Description.Substring(0, 20) <text>...</text>
                    } else {
                        @item.Description
                    }
                </td>
                <td>
                    <a asp-controller="Product" asp-action="Remove" asp-route-iD="@item.Id">Sil</a>
                    <button> <a asp-controller="Product" asp-action="Update" asp-route-id="@item.Id">Güncelle</a></button>
                </td>

            </tr>
        }
    </tbody>
